name: CI
on: [push]
jobs:
  python-tests:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up JS requirements
        run: npm install
        
      - name: Install uv
        uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7

      - name: Install dependencies
        run: uv sync

      - name: Ruff
        run: uv run ruff check

      - name: Tests
        run: uv run pytest .
