name: CI
on: [push]
jobs:
  python-tests:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up JS requirements
        run: npm install
        
      - name: Install uv
        uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7

      - name: Install dependencies
        run: uv sync

      - name: Lint
        run: uv run pylint *.py

      - name: Black
        run: uv run black --version && uv run black . --check

      - name: Tests
        run: uv run pytest .
