name: CI
on: [push]
jobs:
  python-tests:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up JS requirements
        run: npm install

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.14"

      - id: cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt', '**/test_requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: pip install -r requirements.txt -r test_requirements.txt

      - name: Lint
        run: pylint *.py

      - name: Black
        run: black --version && black . --check

      - name: Tests
        run: pytest . && coverage xml

      # - name: Upload coverage to CodeCov
      #   uses: codecov/codecov-action@v1
      #   with:
      #     file: ./coverage.xml
      #     fail_ci_if_error: true
